*{
    color: rgb(65, 62, 59);
    font-family: 'Roboto' sans-serif;
    font-weight: 800;
}

body{
    background-color: 	#e1ccb7;
    min-height: 100vh;
    margin: 0;
}

.navbar{
    position:sticky;
    top: 0;
    backdrop-filter: blur(0.4px);
    background-color: #a39588;
    border-bottom: 1px solid;
    z-index: 1000;
}

.navbar-container{
    display: flex;
    align-items: center;
    padding-top: 1rem;
}

.nav-left-container{
    display: flex;
}

.image{
    border-radius: 50%;
    margin: 0 1rem;
}

.paws_heading{
    font-size: 20px;
    line-height: 1.5rem;
    letter-spacing: 0.1rem;
}

.nav-right-container{
    margin-left: auto;
}

.nav-items-container{
    display: flex;
    flex-wrap: wrap;
}

.nav-items{
    list-style: none;
    margin: 1rem;
}

.nav-items-links{
    text-decoration: none;
}

.nav-items-links:hover{
    color:#2f2024
}
.cat-names{
    display: flex;
}

/* Hero Section */

.cats-container{
    display: flex;
    flex-wrap: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 80vh;
}

.cat-links{
    text-decoration: none;
    
}

.cat-names{
    list-style: none;
    margin: 1rem;
    /* padding: 20px; */
}

.miro,
.toro,
.jerry,
.keli{
    margin-left: 15px;
}
.cat-image{
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    display: block;
    padding: 5px;
}